<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Μεταπτυχιακά Πληροφορικής στην Ελλάδα</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1 class="main-title">Αναζήτηση και Στατιστικά Μεταπτυχιακών Προγραμμάτων Πληροφορικής</h1>
        <div class="info-section">
            <p>Η σελίδα συγκεντρώνει τα μεταπτυχιακά προγράμματα που οργανώνονται ή συνδιοργανώνονται από τμήματα 
                <a href="https://aeitei.gr/omades.php?omada=1304&year=2025" target="_blank">Πληροφορικής</a>, 
                <a href="https://aeitei.gr/omades.php?omada=1293&year=2025" target="_blank">Μηχανικών Πληροφορικής</a>, 
                <a href="https://aeitei.gr/omades.php?omada=1274&year=2025" target="_blank">Ηλεκτρολόγων Μηχανικών και Μηχανικών Υπολογιστών</a>,  
                <a href="https://aeitei.gr/omades.php?omada=1317&year=2025" target="_blank">Ψηφιακών Συστημάτων</a>. 
                Τα δεδομένα συλλέχθηκαν από τις επίσημες σελίδες των τμημάτων τον Αύγουστο του 2025. Δε συμπεριλαμβάνονται προγράμματα που θεωρήθηκαν ανενεργά (π.χ., λόγω απουσίας πρόσφατης προκήρυξης ή σχετικών ανακοινώσεων). </p>
            
            <p>Πέρα από τη δυνατότητα ταξινόμησης με αμιγώς αντικειμενικά κριτήρια (πανεπιστήμιο, τμήμα, πόλη, ύψος διδάκτρων<a href="#tuition-footnote" class="footnote-link" id="tuition-reference"><sup>1</sup></a>), 
            έχω ορίσει <b>12 γενικές θεματικές περιοχές</b> και έχω κατατάξει κάθε μεταπτυχιακό πρόγραμμα στην-κατά την κρίση μου-πιο αντιπροσωπευτική περιοχή. 
            Σε λίγες περιπτώσεις και  με φειδώ, ένα μεταπτυχιακό τοποθετήθηκε και σε 2η θεματική περιοχή. Περισσότερα για τη μεθοδολογία, τις περιοχές και συμπεράσματα
            από την ανάλυση των δεδομένων 
            <a href="https://douros.medium.com/οδηγός-μεταπτυχιακών-σπουδών-πληροφορικής-στην-ελλάδα-αναλύοντας-τα-δεδομένα-b9cf63957c67" target="_blank">στο συνοδευτικό κείμενο</a>.
            </p>
            
            <p>Η αναζήτηση γίνεται με χρήση <b>ενός ή περισσοτέρων φίλτρων</b>, υποστηρίζοντας τη δυνατότητα <b>πολλαπλών επιλογών</b> για κάθε φίλτρο. 
            Τα διαγράμματα και η λίστα των μεταπτυχιακών που πληρούν τις επιλογές των φίλτρων ανανεώνονται δυναμικά. 
            Ωστόσο, δεν πραγματοποιείται έλεγχος  για αυτόματη απενεργοποίηση αμοιβαία αποκλειόμενων επιλογών. Για παράδειγμα, 
            αν επιλεγεί το Οικονομικό Πανεπιστήμιο Αθηνών μαζί με μια πόλη διαφορετική της Αθήνας, η αναζήτηση θα συνεχιστεί χωρίς να επιστρέψει 
            κάποιο αποτέλεσμα.</p>
           <p>Με την ελπίδα τα στοιχεία να φανούν χρήσιμα ιδίως σε όσους ενδιαφέρονται για μεταπτυχιακές σπουδές στην Ελλάδα, 
            διορθώσεις, μαζί με την απαραίτητη τεκμηρίωση, είναι ευπρόσδεκτες <a href="https://x.com/douros" target="_blank">εδώ</a>.</p>
            
           
           <p id="tuition-footnote" class="info-footnote">
        Τα δίδακτρα που αναγράφονται αφορούν το σύνολο του προγράμματος, όπως αυτά δηλώνονται στην τελευταία προκήρυξη. 
        Χρησιμοποιείται η γενική περίπτωση που αντιστοιχεί σε Έλληνα φοιτητή πλήρους φοίτησης, χωρίς να λαμβάνονται υπόψη 
        οι μειωμένες χρεώσεις ή οι απαλλαγές.
    </p>
        </div>
        
    </header>

    <main>
         <div class="filter-container" id="search-filters">
        </div>
        <h2 style="text-align: center; color: #004d99; margin-bottom: 20px;">Φίλτρα Αναζήτησης</h2>
        <div class="filter-container">
            <div class="dropdown-checkbox">
                <div class="dropdown-header" id="university-dropdown-header">
                    <span id="university-dropdown-text">Επιλογή Πανεπιστημίου...</span>
                    <span class="dropdown-arrow"></span>
                </div>
                <div class="dropdown-options" id="university-checkboxes">
                </div>
            </div>
            <div class="dropdown-checkbox">
                <div class="dropdown-header" id="department-dropdown-header">
                    <span id="department-dropdown-text">Επιλογή Τμήματος...</span>
                    <span class="dropdown-arrow"></span>
                </div>
                <div class="dropdown-options" id="department-checkboxes">
                </div>
            </div>
            <div class="dropdown-checkbox">
                <div class="dropdown-header" id="city-dropdown-header">
                    <span id="city-dropdown-text">Επιλογή Πόλης...</span>
                    <span class="dropdown-arrow"></span>
                </div>
                <div class="dropdown-options" id="city-checkboxes">
                </div>
            </div>
            <div class="dropdown-checkbox">
                <div class="dropdown-header" id="tuition-dropdown-header">
                    <span id="tuition-dropdown-text">Επιλογή Διδάκτρων...</span>
                    <span class="dropdown-arrow"></span>
                </div>
                <div class="dropdown-options" id="tuition-checkboxes">
                </div>
            </div>
        </div>

        <div class="filter-container-study-area">
            <div class="dropdown-checkbox">
                <div class="dropdown-header" id="study-area-dropdown-header">
                    <span id="study-area-dropdown-text">Επιλογή Αντικειμένου...</span>
                    <span class="dropdown-arrow"></span>
                </div>
                <div class="dropdown-options" id="study-area-checkboxes">
                </div>
            </div>
        </div>
        
        <div class="clear-filters-container">
            <button id="clear-filters-button">Καθαρισμός Φίλτρων</button>
        </div>
        
        <p id="search-results-message"></p>
        
        <p id="stats-intro" style="display: none; text-align: center; color: #555;">Ακολουθούν συγκεντρωτικά διαγράμματα και μετά
        η λίστα των σχετικών μεταπτυχιακών προγραμμάτων.</p>

      <!--   <div class="chart-flex-container" id="charts-container">
    <div class="chart-container">
        <h3>Μεταπτυχιακά ανά Αντικείμενο</h3>
        <canvas id="studyAreaChart"></canvas>
    </div>

    <div class="chart-container">
        <h3>Μεταπτυχιακά βάσει Διδάκτρων</h3>
        <canvas id="tuitionChart"></canvas>
    </div>
    </div>
 -->

 <div class="chart-flex-container" id="charts-container">
    <div class="chart-container">
        <h3>Θεματικές Περιοχές</h3>
        <canvas id="studyAreaChart"></canvas>
        <button id="exportStudyAreaChart" class="export-button">Αποθήκευση</button>
        <p id="studyAreaCaption"></p>
    </div>
    <div class="chart-container">
        <h3>Δίδακτρα</h3>
        <canvas id="tuitionChart"></canvas>
        <button id="exportTuitionChart" class="export-button">Αποθήκευση</button>
        <p id="tuitionCaption"></p>
    </div>
</div>
        <ul id="programs-list">
        </ul>
        
        <p id="no-results" style="display: none;">Δε βρέθηκαν αποτελέσματα.</p>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>